
.slider.activated {
    position: relative;
    width: 95%;
    max-width: 800px;
    height: auto;
}

.slider.activated .slides{
    position: absolute;
}

.slider.activated .slide {
    display: block;
}

.slider.activated .slidesWindow {
    width: 100%; 
    min-height: 300px;
    max-height: 90vh;
    overflow: hidden;
    position: relative;
}

.slidesWrap {
    position: relative;
}

.slider.activated img {
    width: 100%;
    height: 100%;
}

/* GENERAL STYLES */

.center {
    margin-left: auto;
    margin-right: auto;
}

.hide {
    display: none;
}

.flex {
    display: flex;
}

.pointer {
    cursor: pointer;
}
.grab {
    cursor: grab;
}
.grabbing {
    cursor: grabbing;
}


.debug {
    position: absolute;
    top: 0;
    left: 0;
    
}
